name: Publish to Test PyPi

on:
  push:
    tags:
      - '*.*.*'

jobs:
  test_pypi_release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
    - name: Configure poetry
      run: |
        poetry config repositories.testpypi https://test.pypi.org/legacy/
        poetry config pypi-token.testpypi ${{ secrets.TEST_PYPI_API_KEY }}
    - name: Build package
      run: poetry build
    - name: Publish package
      run: poetry publish -r testpypi
